html,
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  height: 100%;
  min-height: 100%; }

header {
  background-color: #1d1d1e;
  color: white;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0; }
  header h2 {
    font-size: 25px;
    color: bisque; }
  header .navbar__list {
    display: flex;
    flex-direction: row;
    gap: 20px; }
  header li {
    list-style: none;
    cursor: pointer;
    transition: 0.4s; }
  header li:hover {
    transform: scale(1.4); }

main {
  background-color: #b1c48b;
  color: #1d1d1e; }
